footer {
    background-color: #c71212;
    color: rgb(255, 255, 255);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    margin: 40px;
    justify-content: center
}

.footer-left img {
    display: block;
    justify-content: center;

}

.footer-left p {
    font-size: 0.9em;
    line-height: 1.6;
}

.footer-center ul {
    list-style: none;
    padding: 0;

}

.footer-center ul li a {
    margin: 40px 0;
    justify-content: center;
    color: #c9d001

}

.newsletter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.newsletter input[type="email"] {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 200px;
}

.newsletter button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #FFD700;
    color: #ffffff;
    cursor: pointer;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.social-icons a {
    display: inline-block;
    transition: filter 0.3s ease;

}

.social-icons a img {
    width: 40px;
    height: 40px;
}

.social-icons a:active img {
    filter: brightness(0.7);
    /* Efek gelap saat diklik */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #ffffff;
    gap: 20px;
}

.image-container img {
    max-width: 400px;
    border-radius: 10px;
}

.text-container {
    max-width: 600px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #000000;
}

p {
    font-size: 1.2em;
    line-height: 1.8;
}
